# cache directories
./tests/__pycache__/
./chemeq/__pycache__/
./.pytest_cache/
./chemeq.egg-info/
./dist/


# Documentation and sphynx files
Makefile
conf.py
index.rst
make.bat

#compyled files
*.pyc